on early-init
# LifeDJIK: Loading modules needed to use MTD, NAND & so on.
    insmod /lib/modules/tcc_nand.ko
    insmod /lib/modules/tcc_mtd.ko
    insmod /lib/modules/tcc_ndd.ko
# LifeDJIK: Disable kernel animation (if any).
    write /sys/movie_kobj/movie_control 0
